---
- name: Create VMware snapshots for AWX inventory hosts
  hosts: all
  gather_facts: no

  vars:
    snapshot_name: "Snapshot for patching"
    vcenter_hostname: "{{ lookup('env', 'VCENTER_HOSTNAME') }}"
    vcenter_username: "{{ lookup('env', 'VCENTER_USERNAME') }}"
    vcenter_password: "{{ lookup('env', 'VCENTER_PASSWORD') }}"
    datacenter_name: "vDC-TBD-Site"

  tasks:

    - name: Get VM info
      community.vmware.vmware_guest_info:
        hostname: "{{ vcenter_hostname }}"
        username: "{{ vcenter_username }}"
        password: "{{ vcenter_password }}"
        validate_certs: no
        datacenter: "{{ datacenter_name }}"
        name: "{{ inventory_hostname }}"
      delegate_to: localhost
      register: vm_info


    - name: Detect disk list path (hardware.disk / disks / guest_disk_info)
      set_fact:
        vm_disks: >-
          {{
            vm_info.instance.hardware.disk
              if vm_info.instance.hardware is defined and
                 vm_info.instance.hardware.disk is defined
            else vm_info.instance.disks
              if vm_info.instance.disks is defined
            else vm_info.instance.guest_disk_info.values()
              if vm_info.instance.guest_disk_info is defined
            else []
          }}

    - name: Debug detected disk list
      debug:
        var: vm_disks


    - name: Calculate total disk size in GB
      set_fact:
        total_disk_gb: >-
          {{
            (
              vm_disks
              | map(attribute='capacity_in_kb')
              | map('float')
              | sum
            ) / 1024 / 1024
          }}

    - name: Show disk size
      debug:
        msg: "VM {{ inventory_hostname }} has {{ total_disk_gb }} GB total disk size."



    - name: Create snapshot (only if disk <= 500 GB)
      community.vmware.vmware_guest_snapshot:
        hostname: "{{ vcenter_hostname }}"
        username: "{{ vcenter_username }}"
        password: "{{ vcenter_password }}"
        datacenter: "{{ datacenter_name }}"
        folder: /vDC-TBD-Site/vm
        validate_certs: no
        name: "{{ inventory_hostname }}"
        state: present
        snapshot_name: "{{ snapshot_name }}"
        description: "Snapshot created by AWX"
      delegate_to: localhost
      when: total_disk_gb | float <= 500

    - name: Skip VM snapshot if too large
      debug:
        msg: "Skipping snapshot for {{ inventory_hostname }}: Disk size {{ total_disk_gb }} GB > 500 GB."
      when: total_disk_gb | float > 500


