---
- name: Create VMware snapshots for AWX inventory hosts
  hosts: all
  gather_facts: no

  vars:
    snapshot_name: "Snapshot for patching"
    vcenter_hostname: "{{ lookup('env', 'VCENTER_HOSTNAME') }}"
    vcenter_username: "{{ lookup('env', 'VCENTER_USERNAME') }}"
    vcenter_password: "{{ lookup('env', 'VCENTER_PASSWORD') }}"
    datacenter_name: "vDC-TBD-Site"

  tasks:

    - name: Get VM info
      community.vmware.vmware_guest_info:
        hostname: "{{ vcenter_hostname }}"
        username: "{{ vcenter_username }}"
        password: "{{ vcenter_password }}"
        validate_certs: no
        datacenter: "{{ datacenter_name }}"
        name: "{{ inventory_hostname }}"
      delegate_to: localhost
      register: vm_info

    - name: Calculate total disk size using guest_disk_info
      set_fact:
        total_disk_gb: >-
          {{
            (
              vm_info.instance.guest_disk_info.values()
              | map(attribute='capacity_in_kb')
              | map('float')
              | sum
            ) / 1024 / 1024
          }}

    - name: Show disk size of VM
      debug:
        msg: "VM {{ inventory_hostname }} has total {{ total_disk_gb }} GB disk."

    - name: Create snapshot only if disk <= 500 GB
      community.vmware.vmware_guest_snapshot:
        hostname: "{{ vcenter_hostname }}"
        username: "{{ vcenter_username }}"
        password: "{{ vcenter_password }}"
        datacenter: "{{ datacenter_name }}"
        folder: /vDC-TBD-Site/vm
        validate_certs: no
        name: "{{ inventory_hostname }}"
        state: present
        snapshot_name: "{{ snapshot_name }}"
        description: "Snapshot created by AWX"
      delegate_to: localhost
      when: total_disk_gb | float <= 500

    - name: Skip message for large disk VMs
      debug:
        msg: "Skipping snapshot for {{ inventory_hostname }}: disk size {{ total_disk_gb }} GB > 500 GB."
      when: total_disk_gb | float > 500

