---
- name: Get VM Storage and Datastore Free Space
  hosts: all
  gather_facts: no
  connection: local

  vars:
    vcenter_hostname: "{{ lookup('env', 'VCENTER_HOSTNAME') }}"
    vcenter_username: "{{ lookup('env', 'VCENTER_USERNAME') }}"
    vcenter_password: "{{ lookup('env', 'VCENTER_PASSWORD') }}"
    datacenter_name: "vDC-TBD-Site"

  tasks:
    # -------------------------------------------------------
    # 1. Get VM Storage Usage
    # -------------------------------------------------------
    - name: Get VM facts (storage summary)
      community.vmware.vmware_guest_info:
        hostname: "{{ vcenter_hostname }}"
        username: "{{ vcenter_username }}"
        password: "{{ vcenter_password }}"
        validate_certs: no
        datacenter: "{{ datacenter_name }}"
        name: "{{ inventory_hostname }}"
        schema: vsphere
        properties:
          - summary.storage
      delegate_to: localhost
      register: vm_facts

    # -------------------------------------------------------
    # 2. Get ALL Datastores in Datacenter
    # -------------------------------------------------------
    - name: Get all datastore information
      community.vmware.vmware_datastore_info:
        hostname: "{{ vcenter_hostname }}"
        username: "{{ vcenter_username }}"
        password: "{{ vcenter_password }}"
        validate_certs: no
        datacenter: "{{ datacenter_name }}"
      delegate_to: localhost
      register: datastore_facts

    # -------------------------------------------------------
    # 3. Display VM Storage
    # -------------------------------------------------------
    - name: Display VM Storage Usage
      ansible.builtin.debug:
        msg:
          - "---------------------------------------------"
          - "VM Name: {{ inventory_hostname }}"
          - "VM Storage Used (GB): {{ (vm_facts.instance.summary.storage.committed | float / 1024 / 1024 / 1024) | round(2) }}"
          - "---------------------------------------------"

    # -------------------------------------------------------
    # 4. Display ALL Datastore Free Space
    # -------------------------------------------------------
    - name: Display All Datastore Free Space
      ansible.builtin.debug:
        msg:
          - "Datastore Name       : {{ item.name }}"
          - "Total Capacity (GB)  : {{ (item.capacity | float / 1024 / 1024 / 1024) | round(2) }}"
          - "Free Space (GB)      : {{ (item.freeSpace | float / 1024 / 1024 / 1024) | round(2) }}"
          - "---------------------------------------------"
      loop: "{{ datastore_facts.datastores }}"
      loop_control:
        label: "{{ item.name }}"
