---
- name: List all VMware VMs (standalone test)
  hosts: localhost
  gather_facts: no
  tasks:
    - name: Get list of all VMs in vCenter
      community.vmware.vmware_vm_info:
        validate_certs: no
      delegate_to: localhost
      register: vm_list

    - name: Show VM names
      debug:
        msg: "{{ item.guest_name }}"
      loop: "{{ vm_list.virtual_machines }}"

